.footer {
  flex-wrap: wrap;
  position: relative;
  height: 250px;
  max-width: 1480px;
  background-color: #2a2c2f;
  margin-left: auto;
  margin-right: auto;
  color: white;
  overflow: hidden;
  margin-top: 70px;
  padding-bottom: 60px;
}

@media (min-width: 1280px) {
  .footer {
    margin-top: 150px;
  }
}

.footer__info {
  /* font-size: 24px;
  padding: 30px; */
  font-size: 24px;
  padding: 20px;
  z-index: 2;
  margin-top: -5px;
}

.footer__triangle {
  /* position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  width: 400px;
  height: 400px;
  top: 0;
  right: -110px;
  background-size: cover; */
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  width: 400px;
  height: 400px;
  top: 0;
  right: -110px;
  background-size: cover;
  z-index: 1;
}

.footer__content {
  position: relative;
  z-index: 1;
}

.footer__names {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  list-style-type: none;
  z-index: 2;
}

.footer__api-link {
  color: azure;
  margin-left: 20px;
  z-index: 2;
  position: absolute;
  margin-top: 45px;
}
